<template>
  <q-page>
      <div class="row">
        <div class="col-3">
          <q-list>
              <q-item-label header>Ranking</q-item-label>

              <q-item clickable v-ripple>
                <q-item-section avatar top>
                  <q-avatar icon="assignment" color="grey" text-color="white" />
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">Expenses spreadsheet</q-item-label>
                  <q-item-label caption>March 2nd, 2019</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-icon name="info" />
                </q-item-section>
              </q-item>

              <q-item clickable v-ripple>
                <q-item-section avatar top>
                  <q-avatar icon="place" color="grey" text-color="white" />
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">Places to visit</q-item-label>
                  <q-item-label caption>February 22, 2019</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-icon name="info" color="amber" />
                </q-item-section>
              </q-item>

              <q-item clickable v-ripple>
                <q-item-section avatar top>
                  <q-avatar icon="library_music" color="grey" text-color="white" />
                </q-item-section>

                <q-item-section>
                  <q-item-label lines="1">My favorite song</q-item-label>
                  <q-item-label caption>Singing it all day</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-icon name="info" />
                </q-item-section>
              </q-item>
          </q-list>
        </div>



      <div class="col-9">
        <div class="column">
          <div class="col-2">
            <div class="row q-ma-md">
              <div class="col">
                <div class="text-h6 text-center">Score</div>
              </div>
              <div class="col">
                <div class="text-h6 text-center">Time</div>
              </div>
            </div>
            <q-separator/>
          </div>

          <div class="col-10">
            <div class="row">
              <div class="col-2 q-pa-sm"
              v-for="img in images"
              :key="img.name">
                <q-card class="my-card">
                  <q-img
                  src="../assets/apple.png"
                  basic
                >
                  </q-img>
                  <div class="absolute-bottom text-subtitle2 text-center">
                    {{img.name}}
                  </div>
                </q-card>
              </div>
            </div>
          </div>

          
        </div>
      </div>

      
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Home',
  data(){
    return {
      images: [
        {
          id: 1,
          name: 'apple',
          pic: '@/assets/apple.png'
        },
        {
          id: 2,
          name: 'avocado',
          pic: '@/assets/avocado.png'
        },
        {
          id: 3,
          name: 'banana',
          pic: '@/assets/banana.png'
        },
        {
          id: 4,
          name: 'mango',
          pic: '../assets/mango.png'
        },
        {
          id: 5,
          name: 'orange',
          pic: '../assets/orange.png'
        },
        {
          id: 6,
          name: 'strawberry',
          pic: '../assets/strawberry.png'
        },
        {
          id: 7,
          name: 'tomato',
          pic: '../assets/tomato.png'
        },
        {
          id: 8,
          name: 'watermelon',
          pic: '../assets/watermelon.png'
        },
      ]
    }
  },
  /* mounted(){
    this.getImages();
  },

  methods: {
    getImages()
    {
      this.images = pics;
      console.log(images);
      
    }
  } */
}
</script>
