<template>
  <q-page>
      <div class="row">
        <div class="col-2">
          <LeaderBoard/>
        </div>
      <div class="col-2"></div>
      <div class="col-6">
        <GameDeck :pairs="6" />
      </div>
    </div>
  </q-page>
</template>

<script>
import GameDeck from '../components/GameDeck.vue'
import LeaderBoard from '../components/LeaderBoard.vue'
export default {
  components: {
    GameDeck,
    LeaderBoard
  },
  name: 'Home',
  data(){
    return {
  
    }
  },
  /* mounted(){
    this.getImages();
  },

  methods: {
    getImages()
    {
      this.images = pics;
      console.log(images);
      
    }
  } */
}
</script>
