﻿@model registration.Models.StudentModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3><b>Registration Form</b></h3><br>
        <style>
            body{
                margin-top: 70px;
            }
            table{
                border: 2px solid black;
                padding: 3px;
            }
        </style>
        @using (Html.BeginForm("Student", "Home", FormMethod.Post))
        
        { 
            <center>
                <table style="font-family:Arial; font-size:medium; color:black">
            <tr>
                <td><b>First Name</b></td>
                <td >@Html.TextBox("FirstName")</td>
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </tr>
            
            <tr>
                <td><b>Middle Name</b></td>
                <td>@Html.TextBox("MidName")</td>
                @Html.ValidationMessageFor(model => model.MidName, "", new { @class = "text-danger" })
            </tr>
            <tr>
                <td><b>Last Name</b></td>
                <td>@Html.TextBox("LastName")</td>
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                
            </tr>
            <tr>
                <td><b>Age</b></td>
                <td>@Html.TextBox("Age")</td>
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </tr>
            <tr>
                  <tr>
                <td><b>Sex</b></td>
                <td>@Html.DropDownList("Gender", new List<SelectListItem>
                {
                    new SelectListItem { Text = "Male", Value = "Male", Selected=true},                  
                    new SelectListItem { Text = "Female", Value = "Female"},
                    
                }, "Select Sex")
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </td>
            </tr>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>@Html.TextBox("Address")</td>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </tr>
        </table>
            </center>
        <br /><br />
        <input type="submit" value="Submit"  />
        }   
        <h4 style="color:black">
        
            <br />
        </h4>


</div>
