<template>
  <div v-if="card.matched" class="card matched">
  </div>

  <div v-else class="card" @click="clickHandler">
    <img v-if="card.open" :src="card.image" />
    <div v-else class="not-opened"></div>
  </div>
</template>

<script>
export default {
  props: {
    card: Object
  },
  data: () => {
    return {
    }
  },
  methods: {
    clickHandler: function() {
      if (!this.card.open && !this.card.matched) {
        this.$parent.$emit('onCardOpen', this.card)
      }
    }
  }
}
</script>

<style>
.card {
  display: inline-block;
  margin: 25px;
  width: 100px;
  height: 130px;
  vertical-align: top;
  cursor: pointer;
}

.card .not-opened {
  border: 1px solid black;
  text-align: center;
  font-size: 32px;
  padding-top: 25px;
  background-image: url('../assets/bg.jpg');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card.matched {
  cursor: default;
}

.card img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
</style>
