<template>
  <div class="playfield column">
    <div v-if="loading" class="spinner">
      <div style="font-size: 2em">
        <q-spinner-facebook color="light-blue" />
      </div>
      <span>Loading game...</span>
    </div>

    <div v-else>

    <div class="col-2">
        <div class="row q-ma-md">
            <div class="col">
                <div class="text-h6 text-center">Turns: {{turns}}</div>
            </div>
            <div class="col">
                <div class="text-h6 text-center">Time: {{time}}</div>
            </div>
<!--             <div class="col">
                <div class="text-h6 text-center">Turns: {{pairsMatched}} of {{pairs}}</div>
            </div> -->
        </div>
        <q-separator/>
    </div>
      <Card v-for="card in deck" :key="card.number" :card="card" />
    </div>

    <div class="splash" v-if="showSplash">
      <div class="overlay"></div>
      <div class="content">
        <div class="title">You won! {{uName}}</div>
        <div class="score">Score: {{ score }}</div>
        <button class="newGame" @click="resetGame()">New game</button>
      </div>
    </div>

    <div class="splash" v-if=userName>
      <div class="overlay"></div>
      <div class="content">
        <div class="title">Enter Your Name</div>
        <div class="score">
          <q-input filled bottom-slots v-model="uName" label="Name">
          </q-input>
        </div>
        <button class="newGame" @click="newGame()">Enter Game</button>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import Card from './Card.vue'
import moment from 'moment'

export default {
  props: {
    pairs: Number
  },
  components: {
    Card
  },
  data: () => {
    return {
      uName: '',
      cardpairs: 6,
      showSplash : false,
      userName : true,
      timer: null,
      time: "--:--",
      deck: [],
      images: [],
      started: false,
      loading: true,
      openedCards: [],
      pairsMatched: 0,
      pairVisibleInMilliseconds: 1000,
      picsumApiUrl: 'https://picsum.photos/400',
      turns: 0,
      score: 0,
      timer: null
    }
  },
  mounted() {
    this.getImages()

    this.$on('onCardOpen', function(card) {
      this.openCard(card)
    });
  },
  watch: {
    images: function (val) {
      if (val.length === this.pairs) {
        this.generateCards()
        this.loading = false
      }
    }
  },
  methods: {
    cardsMatch: function(cards) {
      return cards[0].pair === cards[1].pair
    },

    closeCards: function() {
      this.deck.forEach((card) => {
        card.open = false
      })
    },

    getImages: async function() {
      while (this.images.length < this.pairs) {
        const response = await axios.get(this.picsumApiUrl)

        if (response.request.responseURL) {
          this.images.push(response.request.responseURL)
        }
      }
    },

    generateCards: function() {
      let cards = []
      let cardNumber = 0

      this.images.forEach((image, key) => {
        for (let i = 0; i < 2; i++) {
          cardNumber += 1

          cards.push({
            number: cardNumber,
            pair: key,
            image: image,
            open: false,
            matched: false
          })
        }
      })

      this.deck = this.shuffleDeck(cards)
    },

    handlePossibleMatch: function(openedCards) {
      if (this.cardsMatch(openedCards)) {
        const openedCardNumbers = [openedCards[0].number, openedCards[1].number]

        this.deck.forEach((element, index) => {
          if (openedCardNumbers.includes(element.number)) {
            this.deck[index].open = false
            this.deck[index].matched = true
          }
        })

        this.pairsMatched += 1

        if(this.pairsMatched === 6) {
          this.finishGame();
        }
      } else {
        this.closeCards()
      }

      this.turns += 1
      this.openedCards = []
    },

    openCard: function(card) {
      // Don't open the card if we already have 2 cards face up
      if (this.openedCards.length === 2) {
        return
      }

       if (!this.started) {
        this.startGame();
      }

      this.deck.forEach((element, index) => {
        if (element.number === card.number) {
          this.deck[index].open = true
          return
        }
      })

      this.openedCards.push(card)

      if (this.openedCards.length === 2) {
        setTimeout(() => {
          this.handlePossibleMatch(this.openedCards)
        }, this.pairVisibleInMilliseconds)
      }
    },

    shuffleDeck: function(cards) {
      return cards
        .map(a => [Math.random(), a])
        .sort((a, b) => a[0] - b[0])
        .map(a => a[1])
    },

    resetGame: function() {
      this.generateCards()
      this.turns = 0
      this.pairsMatched = 0
      this.score = 0;
      this.started = false;
      this.startTime = 0;
      this.showSplash = false;
      location.reload();
    },

    startGame() {
      this.started = true;
      this.startTime = moment();

      this.timer = setInterval(() => {
        this.time = moment(moment().diff(this.startTime)).format("mm:ss");
      }, 1000);
    },

    finishGame() {
      this.started = false;
      clearInterval(this.timer);
      let score = 1000 - (moment().diff(this.startTime, 'seconds') - this.deck.length * 5) * 3 - (this.turns - this.deck.length) * 5;
      this.score = Math.max(score, 0);
      this.showSplash=true;

      this.saveData({
        playerName : this.uName,
        score : this.score
      })
    },

    saveData(playerName, score){
      this.$axios({
        method: 'post',
        url: 'http://localhost:2700/game',
        data: JSON.stringify(playerName, score),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then((response) => {
         console.log('success');
         
      })
      .catch(error => {console.log('error occured: '+ error)}
      )
    },

    newGame(){
      this.userName = false;
    }

  }
}
</script>

<style>
  * {
    box-sizing: border-box;
  }

  .spinner {
    width: 100%;
    text-align: center;
  }

  .statistics span {
    display: inline-block;
    font-size: 24px;
    margin: 25px;
  }

  .splash {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.splash .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.splash .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  height: 200px;
  color: white;
  margin: auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.9);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  padding: 1em;
}
.splash .content .title {
  font-size: 1.8em;
  padding: 0.5em;
}
.splash .content .score {
  padding: 0.5em;
}
.splash .content button {
  margin-top: 1.0em;
  background-color: #444;
  padding: 5px 20px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #555;
  color: White;
  font-size: 1.4em;
}
</style>
