<template>
  <div>
      <q-list>
        <q-item-label class="text-h6" header>Ranking</q-item-label>
            <div v-for="score in scoreboard"
            :key="score.id">
                <q-item clickable v-ripple>
                <q-item-section avatar top>
                    </q-item-section>

                    <q-item-section>
                        <q-item-label lines="1">{{score.name}}</q-item-label>
                    </q-item-section>

                    <q-item-section side>
                        <q-item-label caption>{{score.scr}}</q-item-label>
                    </q-item-section>
                </q-item>
            </div>
    </q-list>
  </div>
</template>

<script>
export default {
    data(){
        return{
            scoreboard:[]
        }
    },
    created(){
        this.$axios({
            method: 'get',
            url: 'http://localhost:2700/game'
        }).then((res)=>{
            this.scoreboard = res.data
            console.log(res.data);
        }).catch(error => {console.log('an error occured!' + error)})
    }
}
</script>