﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="Phonebook" >
   		

   		<label for="Name">Name</label>
		<input type="text" input="Name" placeholder=" "v-model="fullName"><br>
		<label for="Number">Number</label>
		<input type="number" placeholder=" " v-model="CPNumber">
		<br><button type="submit" @@click="add">Add</button>
		<br>
		<br>	

			<table >

					<tr>
						<th>Name</th>
						<th>Number</th>
					</tr>

						<tr v-for="(cont, index) in inputs">
							<td><input type="text" v-model="cont.nameInfo"></td>
							<td><input type="number" v-model="cont.numInfo"></td>
							<td><button type="button" @@click="remove(index)">X</button></td>
						</tr>


			</table>

</div>

